* { margin: 0; padding: 0; }

body {
color: #EEE;
background: -webkit-gradient(
  radial, 50% 50%, 0, 50% 50%, 350, from(#FFF), to(#000)
);
background: -moz-radial-gradient(
  50% 50%, farthest-side, #FFF, #CCC
);
}

h1 {
color: transparent;
text-shadow: 0 0 26px rgba(0,0,0,0.5);
font-family: helvetica, arial, sans-serif;
letter-spacing: -0.1pt;
text-rendering: optimizelegibility;
text-align: center;
position: fixed;
top: 50%; height: 120px; margin-top: -90px;
left: 50%; width: 800px; margin-left: -400px;
font-size: 50px;
-webkit-transition: text-shadow 1.9s; 
-moz-transition: text-shadow 1.9s;
}
 
 
h1:hover {
text-shadow: 0 0 0 rgba(0,0,0,1);
-webkit-transition: text-shadow 0.5s; 
-moz-transition: text-shadow 0.5s;
cursor: default;
}
 
::-moz-selection {background:#fff666;}
::selection {background:#fff666;}
 
