* {
margin: 0;
padding: 0;
}

html {
background: #E5E5E5;
}

body {
font-family: "Hoefler Text", Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
font-size: 140%;
color: #999
}

article {
display: block;
position: relative;
text-align: center;
border: 1px solid #efefef;
margin: 20px auto;
width: 800px;
min-height: 500px;
background: #FFF;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

article:after { 
z-index: -1; 
position: absolute; 
background: transparent; 
width: 70%; 
height: 55%; 
content: ''; 
right: 10px; 
bottom: 10px; 
transform: skew(5deg) rotate(2deg);
-webkit-transform: skew(5deg) rotate(2deg);
-moz-transform: skew(5deg) rotate(2deg);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

article:before { 
z-index: -2; 
position: absolute; 
background: transparent; 
width: 70%; 
height: 55%; 
content: ''; 
left: 10px; 
bottom: 10px; 
transform: skew(-5deg) rotate(-2deg); 
-webkit-transform: skew(-5deg) rotate(-2deg); 
-moz-transform: skew(-5deg) rotate(-2deg); 
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

article h1 {
line-height: 3;
}

article p {
line-height: 3;
}
