<!DOCTYPE html>
<html>
  <head>
    {% include _head.html %}
  </head>
  <body>
    {% include _intro.html %}
    <article id="main" class="container">
      <h1>{{ page.title }}</h1>
      {{ content }}
      <footer>
        <a href="/">Back to the homepage</a>
        <a href="/archive.html">View the archives</a>
      </footer>
    </article>
    <footer class="container">
      {% include _posts.html %}
      {% include _projects.html %}
      {% include _terms.html %}
    </footer>
  </body>
</html>
