    <!-- HTML5 shim for IE6-8 support of new elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--link rel="stylesheet" href="/fonts/junction-regular-fontfacekit/stylesheet.css" />
    <link rel="stylesheet" href="/fonts/League-Gothic-fontfacekit/stylesheet.css" />
    <link rel="stylesheet" href="/fonts/M-1m-fontfacekit/stylesheet.css" / -->
    <!-- link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/pygments-native.css" /-->
    <script type="text/javascript" src="http://use.typekit.com/wvj7lcm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="//twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/pygments-autumn.css" />
    <title>unpluggd, the personal blog of Phillip B Oldham</title>
