      <div id="projects">
        <h3>Projects</h3>
        <div class="row">
          <h4 class="span5">FWRD</h4>
          <p class="span11">FWRD is a Python Micro-Framework designed to GetOutOfTheWay.</p>
          <p class="span11">
            <a href="//github.com/unpluggd/FWRD">View this project on GitHub</a>
            <a href="/FWRD">Documentation</a>
          </p>
        </div>
        <div class="row">
          <h4 class="span5">PySO8601</h4>
          <p class="span11">A better ISO8601 module for Python.</p>
          <p class="span11">
            <a href="//github.com/unpluggd/PySO8601">View this project on GitHub</a>
            <a href="/PySO8601">Documentation</a>
          </p>
        </div>
        <div class="row">
          <h4 class="span5">exemelopy</h4>
          <p class="span11">A module for encoding Python data types as XML.</p>
          <p class="span11">
            <a href="//github.com/unpluggd/exemelopy">View this project on GitHub</a>
            <a href="/exemelopy">Documentation</a>
          </p>
        </div>
        <div class="row">
          <p class="span11 offset5">View my other <a href="//github.com/unpluggd" target="_blank">GitHub projects</a>.</p>
        </div>
      </div>
