<div class="termswrapper">
<div id="terms" class="row">
<p class="span5">&#169; 2009-2012 Phillip B Oldham.</p>
<p class="span11">This is a personal weblog. The opinions expressed here represent my own 
and not those of my employer. My thoughts and opinions may change from from time to time; 
I consider this a necessary consequence of having an open mind. This weblog is intended 
to provide a semi-permanent point in time snapshot and manifestation of the various 
memes running around my brain, and as such any thoughts and opinions expressed within 
out-of-date posts may not the same, nor even similar, to those I may hold today.
</p>
</div>
</div>
